.MainDiv {
    width: 60px;
    /* background-color: bisque; */
    /* min-height: 5000px; */
    transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) !important;
}

.main-title-div {
    transition: 0.5s;
    max-width: 1030px;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 42px;
    line-height: 86px;
    font-weight: 300;
}

.main-title-div span {
    padding-bottom: 4px;
    background-image: repeating-linear-gradient(-45deg, #ffb400, #ffb400 1px, transparent 0, transparent 12px), repeating-linear-gradient(45deg, #ffb400, #ffb400 1px, transparent 0, transparent 12.2px);
    background-position: 0 103%, 2px 103%;
    background-size: 17px 10px;
    background-repeat: repeat-x;
    animation: .8s infinite normal b;
    animation-timing-function: linear;
}

.hero-img-div div {
    height: clamp(400px, 50vw, 1000px);
    background: no-repeat center/cover url("/images/home-hero.avif");
}


.main-second-title {
    font-size: 125px;
    max-width: 645px;
    line-height: 1.25;
    letter-spacing: -2px;
}

.main-third-title {
    font-size: 115px;
    max-width: 645px;
    line-height: 0.85;
    letter-spacing: -4px;
    text-align: center;
}


.main-grid {
    gap: 60px;
}

.main-grid div {
    flex: 1;
}

.main-grid p {
    font-size: 14px;
    letter-spacing: 0.3px;
}

.fix {
    width: calc(100vw - 180px);
}


/* sideline-animation */
.sideline-animation {
    position: relative;
    padding: 75px 0 100px;
    background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0);
    background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
    animation: .8s infinite normal c;
    animation-timing-function: ease;
    animation-timing-function: linear;
}

.sideline-animation p {
    font-size: 16px;
}


.date {
    font-size: 14px !important;
}

.white-button {
    padding: 20px;
    width: 180px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid black;
    position: relative;
    top: -40px;
    transition: 0.5s;
}

.white-button:hover {
    background-color: black !important;
    color: white;
}

/*  */

.location-subdiv {
    position: relative;
    font-size: 55px;
    line-height: 1.25;
    padding: 90px 0;
}

.map {
    background-image: url("/images/map.avif");
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
}


@media (max-width:1200px) {
    .fix {
        width: 100%
    }
}

@media (max-width:760px) {

    .main-title-div {
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 19px;
        line-height: 42px;
    }

    .main-second-title {
        font-size: 55px;
        line-height: 1.15;
    }

    .main-third-title {
        font-size: 70px;
        max-width: 250px;
    }

    .side-anim-sm {
        background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0);
        background-position: 0 100%, 0 calc(100% - 14px);
        background-repeat: repeat-x, repeat-x;
        background-size: 24px 1px, 24px 1px;
        padding: 60px 20px;
    }

    .main-grid {
        flex-direction: column;
    }

    .sideline-animation {
        animation: unset;
        padding: 0;
        gap: 0;
    }

    .white-button {
        margin-top: 60px;
        width: 100%;
        top: 0;
        padding: 20px !important;
    }

    .location-subdiv {
        padding: 60px 30px;
        font-size: 38px;
    }

}


