.modal {
    background-color: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}


.bg-lightblue {
    background-color: #5ea3ec;
    transition: opacity 3s !important;
}

.bg-red {
    background-color: #f64444;
    transition: opacity 3s !important;
}

.bg-yellow {
    background-color: #ffb400;
}


.modal .flex div {
    flex: 1;
    display: grid;
    place-content: center;
}

.h-50vh {
    height: 50vh;
}

.h-10vh {
    height: 10vh;
}

.rot-45-left {
    transform: rotate(-45deg);
}

.rot-45-right {
    transform: rotate(45deg);
}

.modal p {
    border-bottom: 4px solid transparent;
    transition: none;
}

.selected {
    border-bottom: 4px solid black !important;
}

.swal2-footer div {
    margin: auto;
    background-color: #ef4b6c;
    border-radius: 30px;
    width: 250px;
    max-width: 60vw;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    letter-spacing: 1.55px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    color: white;
    text-align: center;
  }
  .swal2-title{
    font-size: 25px !important;
  }
  .swal2-popup,.swal2-popup h2{
    font-family: 'Montserrat', sans-serif !important;
  }
  .swal2-confirm {
    font-size: 17px !important;
  }