/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------------------------*/

.textcenter {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}


.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-180 {
  margin-bottom: 180px;
}


.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}



.flex {
  display: flex;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
}


::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  transition: ease-in-out 0.5s;
}





body {
  overflow: hidden;
  font-family: 'PT Mono', monospace;
  /* Hide scrollbars */
}

.fullwidth {
  width: calc(100% - 180px) !important;
}

/* ??????????????????? which one was for which ? */
/* 

.fullwidth {
  width: 100% !important;
} */

@media (max-width:1200px) {
  .fullwidth {
    width: 100% !important;
  }
}

@media (max-width:1000px) {
  .none-1000px {
    display: none;
  }
}




.op-0 {
  opacity: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
}

/* font-family: 'Cormorant Garamond', serif;

font-family: 'PT Mono', monospace; */





/* really specific */

.display-small {
  display: none;
}



.mx-60-var {
  margin-left: 60px;
  margin-right: 60px;
}

@media (max-width:760px) {
  .mx-60-var {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mb-90-sm {
    margin-bottom: 90px;
  }

  .mb-60-sm {
    margin-bottom: 60px;
  }

  .mb-30-sm {
    margin-bottom: 30px;
  }

  .gap-30-sm {
    gap: 30px !important;
  }

  .gap-15-sm {
    gap: 30px;
  }

  .w-60-sm {
    width: 60px;
  }

  .h-60-sm {
    height: 60px;
  }
  .mt-50-sm{
    margin-top: 50px;
  }
  .display-small {
    display: unset;
  }

  .none-760px {
    display: none;
  }

}


.mt-22 {
  margin-top: 22px;
}

.grid-center-content {
  display: grid;
  place-content: center;
}