/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}






/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*------------------------------------------*/


.textcenter {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
}

/* .loader{
  border:5px solid rgb(85, 159, 209);
  border-top: 5px solid rgb(156, 215, 250);
  border-radius:50%;
  width:150px;
  height:150px;
  animation:spin 0.8s linear infinite;
  margin:25vh auto;
  transition: none;
} */

/* @keyframes spin{
0%{
    transform: rotate(0deg);
}
100%{
    transform:rotate(360deg)
}
} */

/* //////////////////////////////////////////////// */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  transition: ease-in-out 0.5s;
}

.fullwidth {
  width: calc(100% - 180px) !important;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}



body {
  overflow: hidden;
  /* Hide scrollbars */
}


.fullwidth {
  width: 100% !important;
}


.op-0 {
  /* white-space: pre-wrap; */
  opacity: 0;
}