.MainDiv {
    width: 60px;
    /* background-color: bisque; */
    min-height: 5000px;
    transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) !important;
}

.main-title-div {
    transition: 0.5s;
    /* transition: 0.15s; */
    /* display:flex;
    flex-shrink: 0; */
    /* width: 70vw; */
    max-width: 1030px;
    margin: 120px 60px;
    /* white-space: pre-line; */
    /* overflow: hidden; */
}

.main-title-div {
    overflow: hidden;
    font-size: 40px;
    /* font-size: 75px; */
    line-height: 86px;
    /* letter-spacing: 1px; */
    font-weight: 300;
    /* min-width:auto */
}

h1,h2{
    font-family: 'Cormorant Garamond', serif;
  }

.new-kind{
    font-size: 113px;
    max-width: 645px;
}




.fix{
   width: calc(100vw - 180px);
}

@media (max-width:1200px) {
    .fix{
        width: 100%
     }
  }

