.MainDiv {
    width: 60px;
    /* background-color: bisque; */
    min-height: 5000px;
    transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) !important;
}

.main-title-div {
    transition: 0.5s;
    max-width: 1030px;
    margin: 120px 60px;
    font-size: 40px;
    line-height: 86px;
    font-weight: 300;
}



.main-second-title{
    font-size: 125px;
    max-width: 645px;
    line-height: 1.25;
    letter-spacing: -2px;
}

.main-third-title{
    font-size: 115px;
    max-width: 645px;
    line-height: 0.85;
    letter-spacing: -4px;
    text-align: center;
}


.main-grid{
    gap: 60px;
}

.main-grid div{
    flex: 1;
}

.main-grid p{
    font-size: 14px;
    letter-spacing: 0.3px;
}

.fix {
    width: calc(100vw - 180px);
}

@media (max-width:1200px) {
    .fix {
        width: 100%
    }

}
@media (max-width:760px) {
    .main-grid{
        flex-direction: column;
    }
}