.navbar{
    z-index: 100;
    padding-top: 60px;
    position: sticky;
    top: 0;
}

.wobble-ver-right { 
    /* -webkit-animation: wobble-ver-right 0.8s both;
    animation: wobble-ver-right 0.8s both; */
}

@media (min-width:1200px) {
    .burguer{
        display: none;
    }
}


